
<div
  class="flex overflow-y-auto h-full mt-2 flex flex-col gap-2 pb-2"
  style="max-height: 500px"
>
  @if (isLoading) {
    <!-- Listagem Esqueleton -->
    @for (item of [1,2,3]; track item) {
      <div class="flex flex-col w-45 rounded-xl border border-gray-200 gap-2 relative">
        <div class="absolute flex justify-center items-center w-full h-full">
          <mat-spinner></mat-spinner>
        </div>
        <div
          class="w-45  rounded-t-xl bg-gray-300"
          style="height: 200px;"
        ></div>
        <div class="flex flex-col gap-2 p-2">
          <div class="h-3 bg-gray-300"></div>
          <div class="h-3 bg-gray-300"></div>
        </div>
      </div>
    }

  } @else {
    <!-- Listagem da Api -->
    @for (desaparecidoDetails of desaparecidos; track desaparecidoDetails.id) {
      <div
        class="flex flex-col w-45 rounded-xl border border-gray-200 gap-2 cursor-pointer hover:shadow-md"
        [routerLink]="'/desaparecido/' + desaparecidoDetails.id"
      >
        <img
          [src]="desaparecidoDetails.urlFoto || 'img/sem-foto.svg'"
          alt=""
          class="w-45  rounded-t-xl object-cover"
          style="max-height: 200px;"
        >

        <div class="flex flex-col p-2 text-center">
          <h4 class="text-xs font-semibold color-gray-700">
            {{ desaparecidoDetails.nome }}
          </h4>
          <span class="text-xs text-gray-700">
            {{ desaparecidoDetails.sexo | titlecase }},
            {{
                desaparecidoDetails.idade
                  ? desaparecidoDetails.idade + ' anos'
                  : 'Idade não informada'
            }}
          </span>
        </div>
      </div>
    }
  }
</div>
