<div
  class="border-2 border-dashed rounded-xl p-5 text-center flex flex-col justify-center ease-in-out duration-100"
  [ngClass]="isDragging ? 'border-blue-500 bg-blue-100' : 'border-gray-300 bg-gray-50'"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
  style="max-height: 250px;"
>
  <input
    type="file"
    multiple
    #fileInput
    (change)="onFileInputChange($event)"
    class="hidden"
  >

  <div class="mb-4">
    <p>Arraste e solte arquivos aqui ou</p>
    <button
      type="button"
      (click)="fileInput.click()"
      class="bg-blue-700 hover:bg-blue-00 text-white cursor-pointer py-1 px-4 rounded-full"
    >
      Escolher arquivos
    </button>
  </div>

  <div class="flex flex-col gap-1 overflow-y-auto">
    @for (file of files; track file; let i = $index) {
      <div class="flex w-full p-2 justify-between items-center border border-gray-300 rounded-xl">
        <div class="flex flex-col items-start leading-4 overflow-x-hidden truncate">
          <p class="font-semibold text-gray-700">{{ file.name }}</p>
          <span>Tamanho: {{ file.size }}Kb</span>
        </div>

        <div
          class="text-red-500 cursor-pointer"
          (click)="removeFile(i)"
        >
          <mat-icon>delete_forever</mat-icon>
        </div>
      </div>
    } @empty {
      <div class="p-2 text-center text-yellow-900 bg-yellow-100 border border-yellow-400 rounded-xl flex flex-col justify-center items-center">
        <mat-icon>warning</mat-icon>
        <span>Você não adicionou nenhum anexo.</span>
      </div>
    }
  </div>
</div>
