<div class="w-full bg-gray-900 text-white justify-center items-center p-4">
  <div class="flex w-full justify-center max-w-[1600px] mx-auto">
    <div class="flex flex-col justify-center items-center mx-2 leading-3">
      <h3 class="text-gray-400">Desenvolvido por:</h3>
      <h2 class="text-sm sm:text-xl">Everton Kunz</h2>

      <div class="flex gap-1 text-xs">
        <a
          href="https://www.linkedin.com/in/evertonkunz/?originalSubdomain=br"
          target="_blank"
          class="underline text-blue-300"
        >Linkedin</a>,
        <a
          href="https://github.com/tonkunz"
          target="_blank"
          class="underline text-blue-300"
        >GitHub</a>
      </div>
    </div>
  </div>
</div>
