<div class="w-full h-full flex flex-col justify-center items-center">
  <div class="flex-1 max-w-2xl w-full">
    <img src="img/404-animation.svg" alt="Ilustração de 404, página não encontrada">
  </div>
  <h1 class="text-6xl text-blue-600 font-semibold">Opss...</h1>
  <span class="max-w-sm text-justify mt-2 text-gray-700">
    Algo de errado com esta URL, verifique o endereço ou
    <a routerLink="/" class="uppercase font-semibold underline text-blue-500">volte para o início</a>
    se estiver perdido
  </span>
</div>
