<form
  [formGroup]="filterForm"
  class="grid grid-cols-2 gap-4 p-4 border border-gray-200 rounded-xl shadow-xl"
>
  <div class="w-full col-span-2 border-b border-gray-300 pb-3 mb-1">
    <h2 class="text-2xl md:text-3xl font-semibold">Faça sua Busca</h2>
    <span class="text-sm md:text-lg text-gray-600">Aqui estão alguns parâmetros para você filtrar sua consulta</span>
  </div>

  <mat-form-field class="col-span-2">
    <mat-label>Nome:</mat-label>
    <input type="text" matInput formControlName="nome">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mínima</mat-label>
    <input
      type="number"
      matInput
      formControlName="faixaIdadeInicial"
      min="0"
      max="99"
    >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Máxima</mat-label>
    <input
      type="number"
      matInput
      formControlName="faixaIdadeFinal"
      min="0"
      max="99"
    >
  </mat-form-field>

  <mat-radio-group
    formControlName="sexo"
    aria-label="Selecione uma opção"
  >
    <mat-radio-button value="MASCULINO">Masculino</mat-radio-button>
    <mat-radio-button value="FEMININO">Feminino</mat-radio-button>
  </mat-radio-group>

  <mat-radio-group
    formControlName="status"
    aria-label="Selecione uma opção"
  >
    <mat-radio-button value="DESAPARECIDO">Desaparecido(a)</mat-radio-button>
    <mat-radio-button value="LOCALIZADO">Localizado(a)</mat-radio-button>
  </mat-radio-group>

  <button
    type="button"
    mat-stroked-button
    color="danger"
    (click)="handleCleanFilters()"
  >
    <mat-icon>close</mat-icon>
    Limpar Consulta
  </button>

  <button
    type="button"
    mat-stroked-button
    color="primary"
    (click)="handleFilter()"
  >
    <mat-icon>search</mat-icon>
    Consultar
  </button>
</form>
