<div class="max-w-7xl w-full mx-auto my-8">
  @if (isLoadingList) {
    <div class="flex flex-col justify-center items-center">
      <mat-spinner></mat-spinner>
      <h2 class="text-xl sm:text-3xl font-semibold mt-4">Carregando Dados!</h2>
      <span class="sm:text-xl text-gray-600">Por favor, aguarde...</span>
    </div>
  } @else {
    <div class="flex flex-col gap-4 mx-2 sm:mx-4">
      <filter-form
        [initValues]="facade.params"
        (onChangeFilters)="handleChangeFilters($event)"
      ></filter-form>

      <!-- Listagem dos Desaparecidos-->
       <h2 class="text-3xl mt-8 mb-2 font-semibold">Listagem de Desaparecidos</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        @for (desaparecido of desaparecidosList; track desaparecido.id) {
          <desaparecido-card [desaparecido]="desaparecido"></desaparecido-card>
        }
      </div>

      <mat-paginator
        [length]="pagination.totalElements"
        [pageIndex]="pagination.pagina"
        [pageSize]="pagination.porPagina"
        [pageSizeOptions]="[16, 40, 100]"
        showFirstLastButtons
        aria-label="Selecione uma Página"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
    }
</div>
