<div class="max-w-7xl w-full mx-auto my-8">
  @if (isLoadingList) {
    <div class="flex flex-col justify-center items-center">
      <mat-progress-spinner></mat-progress-spinner>
      <h2>Carregando Dados!</h2>
      <span>Por favor, aguarde...</span>
    </div>
  } @else {
    <div class="flex flex-col gap-4">
      <filter-form
        [initValues]="facade.params"
        (onChangeFilters)="handleChangeFilters($event)"
      ></filter-form>

      <!-- Listagem dos Desaparecidos-->
      <div class="grid grid-cols-4 gap-4">
        @for (desaparecido of desaparecidosList; track desaparecido.id) {
          <desaparecido-card [desaparecido]="desaparecido"></desaparecido-card>
        }
      </div>
      <mat-paginator
        [length]="pagination.totalElements"
        [pageIndex]="pagination.pagina"
        [pageSize]="pagination.porPagina"
        [pageSizeOptions]="[16, 40, 100]"
        showFirstLastButtons
        aria-label="Selecione uma Página"
        (page)="handlePageEvent($event)"
      >
      </mat-paginator>
    </div>
    }
</div>
